<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="DBConnection" connectionString="Data Source=DESKTOP-I005AA0\SQLEXPRESS;Initial Catalog=HiTechOrderManagementDB;User ID=sa;Password=250899" />
	  <add name="HiTechOrderManagementDBEntities" connectionString="metadata=res://*/BLL.EntityFramework.HiTechOrderManagementModel.csdl|res://*/BLL.EntityFramework.HiTechOrderManagementModel.ssdl|res://*/BLL.EntityFramework.HiTechOrderManagementModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-I005AA0\SQLEXPRESS;initial catalog=HiTechOrderManagementDB;user id=sa;password=250899;multipleactiveresultsets=True;trustservercertificate=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
 
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>